.App {
  text-align: center;
}

.Lista {
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50;
  background-color: #B0E2FF;
  width: 100vw;
  height: 50vh;
  
}

.Formulario {
  width: 100vw;
  height: 50vh;
  padding: 50;
  background-color: #A4D3EE;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 2px 2px 2px #cccccc;
  -webkit-box-shadow: 2px 2px 2px #cccccc;
  box-shadow: 2px 2px 2px #cccccc;
}

.Input {
  margin: 10px;
}

.Botao {
  border-radius: 5%;
  text-align: left;
  margin: 5px;
}